/* screen - docked-panel-search2 */

.docked-panel-search2 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 930px;
  min-width: 100%;
  position: relative;
}

.docked-panel-search2 .calendar-bg {
  height: 930px;
  top: 0;
}

.docked-panel-search2 .overlap-group3 {
  height: 930px;
  position: relative;
}

.docked-panel-search2 .frame-9 {
  align-items: center;
  align-self: stretch;
  background-color: var(--shark);
  display: flex;
  gap: 346px;
  padding: 0px 16px;
  position: relative;
}

.docked-panel-search2 .frame-2 {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .label {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-5 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .icon-angle {
  line-height: normal;
  position: relative;
  width: 9px;
}

.docked-panel-search2 .overlap-group1 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.docked-panel-search2 .icon-comments {
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 22px;
}

.docked-panel-search2 .overlap-group-1 {
  height: 17px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 23px;
}

.docked-panel-search2 .icon-angle-1 {
  left: 24px;
  line-height: 10px;
  position: absolute;
  top: 21px;
}

.docked-panel-search2 .overlap-group-2 {
  height: 34px;
  position: relative;
  width: 68px;
}

.docked-panel-search2 .header {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 8px;
  position: relative;
}

.docked-panel-search2 .select {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-1 {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .text-281 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .buttons {
  align-items: center;
  background-color: var(--mercury);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 7px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-1-2 {
  gap: 8px;
}

.docked-panel-search2 .text-282 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-20027 {
  align-items: center;
  border-radius: 11px;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-19993 {
  border-radius: 2px;
  height: 24px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-top: -1.00px;
  min-width: 24px;
  position: relative;
}

.docked-panel-search2 .overlap-group {
  height: 19px;
  position: relative;
  top: 2px;
  width: 23px;
}

.docked-panel-search2 .group {
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.docked-panel-search2 .title {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-1-3 {
  gap: 8px;
}

.docked-panel-search2 .text-283 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-1-4 {
  gap: 8px;
}

.docked-panel-search2 .text-28 {
  height: 18px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 12px;
}

.docked-panel-search2 .frame-1-5 {
  gap: 8px;
}

.docked-panel-search2 .toolbar {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
}

.docked-panel-search2 .buttons-2 {
  border-radius: 4px;
  justify-content: center;
  padding: 7px 12px;
}

.docked-panel-search2 .frame-1-6 {
  gap: 8px;
}

.docked-panel-search2 .text-286 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .button-label-1 {
  line-height: 18px;
  text-align: center;
}

.docked-panel-search2 .tags {
  align-items: flex-start;
  background-color: var(--persian-green);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tintin {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .tintin-1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .buttons-3 {
  background-color: var(--mercury);
  border-radius: 4px;
  height: 32px;
  justify-content: center;
  padding: 7px 12px;
}

.docked-panel-search2 .button-label-2 {
  line-height: 18px;
  text-align: center;
}

.docked-panel-search2 .buttons-4 {
  border-radius: 4px;
  justify-content: flex-end;
  padding: 7px 12px;
}

.docked-panel-search2 .button-label-3 {
  line-height: 18px;
  text-align: right;
}

.docked-panel-search2 .text-287 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .text-288 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .text-289 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .scale {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 20px;
  position: relative;
}

.docked-panel-search2 .scale-increment {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: 20px;
  justify-content: center;
  left: -39px;
  position: relative;
  top: -32px;
  width: fit-content;
}

.docked-panel-search2 .calendar-items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 251px;
}

.docked-panel-search2 .card-1 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 300px;
}

.docked-panel-search2 .frame-760-1 {
  align-self: stretch;
  flex: 1;
}

.docked-panel-search2 .text-29 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: 7px;
}

.docked-panel-search2 .frame-1 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  position: relative;
}

.docked-panel-search2 .frame {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-7 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-1 {
  align-items: flex-start;
  background-color: var(--pear);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .status {
  align-items: center;
  display: flex;
  position: relative;
  width: 79px;
}

.docked-panel-search2 .tags-2 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  margin-right: -12.00px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  position: relative;
  width: 540px;
}

.docked-panel-search2 .frame-1-1 {
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.docked-panel-search2 .tags-8 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-3 {
  align-items: flex-start;
  background-color: var(--jaffa);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-4 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 700px;
}

.docked-panel-search2 .tags-9 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card-offset {
  gap: 8px;
  padding: 0px 0px 0px 219px;
  width: fit-content;
}

.docked-panel-search2 .card-3 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 480px;
}

.docked-panel-search2 .tags-10 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card-4 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--chilean-fire);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 702px;
}

.docked-panel-search2 .tags-11 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-5 {
  align-items: flex-start;
  background-color: var(--trinidad);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 1px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-12 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card-5 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 582px;
}

.docked-panel-search2 .tags-13 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-293 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .card-6 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 2px;
  gap: 2px;
  padding: 8px 0px 8px 16px;
  width: 502px;
}

.docked-panel-search2 .tags-14 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-294 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .docked-panels {
  align-items: flex-end;
  box-shadow: 0px 12px 16px #00000040;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .icon {
  letter-spacing: 0;
  line-height: 24px;
  min-width: 16px;
  opacity: 0.6;
  text-align: right;
  white-space: nowrap;
}

.docked-panel-search2 .content {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  position: relative;
}

.docked-panel-search2 .update-retail-outlet-to-110510 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 467px;
}

.docked-panel-search2 .textfield-history {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .group-626160 {
  height: 24px;
  min-width: 271px;
  position: relative;
}

.docked-panel-search2 .frame-626161 {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .group-626159 {
  height: 23px;
  min-width: 270px;
  position: relative;
}

.docked-panel-search2 .frame-20027-1 {
  align-items: center;
  border-radius: 11px;
  display: flex;
  gap: 12px;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-19993-1 {
  border-radius: 2px;
  height: 24px;
  margin-bottom: -0.50px;
  margin-left: -1.00px;
  margin-top: -0.50px;
  min-width: 24px;
  position: relative;
}

.docked-panel-search2 .title-1 {
  color: var(--shark);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  line-height: 23px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .line-1 {
  height: 24px;
  margin-right: -1.00px;
  min-width: 1px;
}

.docked-panel-search2 .icon-1 {
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 0.6;
  position: relative;
  text-align: right;
  width: fit-content;
}

.docked-panel-search2 .accordion-header {
  align-items: center;
  background-color: var(--concrete);
  border-radius: 62px;
  display: flex;
  padding: 4px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .title-and-icon {
  align-items: center;
  gap: 8px;
}

.docked-panel-search2 .title-2 {
  line-height: 23px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-295 {
  color: var(--shark);
  font-family: var(--font-family-dpl-iconfont-regular);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .recommendation::-webkit-scrollbar {
  display: none;
  width: 0;
}

.docked-panel-search2 .recommendation {
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 232.56, 229.5) 0%, rgb(255, 236.3, 208.25) 100%);
  display: flex;
  gap: 10px;
  height: 1px;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  padding: 12px 20px 0px;
  position: relative;
  width: 530px;
}

.docked-panel-search2 .frame-626156-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.docked-panel-search2 .card2 {
  align-items: flex-start;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.16) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(215, 95, 0, 0.4)) 1;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #0000001a;
  display: flex;
  padding: 16px;
  position: relative;
}

.docked-panel-search2 .frame-626156-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .line-2 {
  height: 1px;
  min-width: 458px;
}

.docked-panel-search2 .frame-626126 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 401.59px;
}

.docked-panel-search2 .text-2 {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 377px;
}

.docked-panel-search2 .frame-626125 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: 377px;
}

.docked-panel-search2 .text-3 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .contact {
  align-items: center;
  background-color: var(--white-5);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  padding: 2px 12px 2px 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .title-and-name {
  align-items: flex-start;
  flex-direction: column;
}

.docked-panel-search2 .text-4 {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -30.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .hold-button {
  align-items: center;
  background-color: var(--chilean-fire);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 9px 16px;
  position: relative;
  width: 458px;
}

.docked-panel-search2 .text-296 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .button-label-4 {
  line-height: 18px;
  text-align: center;
}

.docked-panel-search2 .cards-accordion {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: -20.00px;
  margin-right: -20.00px;
  position: relative;
  width: 530px;
}

.docked-panel-search2 .cards {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 1px;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .card2-1 {
  height: 318px;
}

.docked-panel-search2 .frame-626122 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.docked-panel-search2 .text {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 20px;
}

.docked-panel-search2 .title-3 {
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .title-4 {
  line-height: 18px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-298 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-626150 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.docked-panel-search2 .content-1 {
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .content-2 {
  width: 396px;
}

.docked-panel-search2 .service-name-2 {
  line-height: 18px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-3 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .frame-626150-1 {
  align-self: stretch;
  flex-direction: column;
}

.docked-panel-search2 .frame-6261 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white-4);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(215, 95, 0, 0.4)) 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  position: relative;
}

.docked-panel-search2 .frame-626156 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.docked-panel-search2 .frame-626121 {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .service-name-4 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 190px;
}

.docked-panel-search2 .tags-15 {
  align-items: flex-start;
  background-color: var(--trinidad);
  border-radius: 24px;
  display: flex;
  gap: 10px;
  padding: 1px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-299 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-626161-1 {
  align-self: stretch;
  background-color: var(--white-4);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(215, 95, 0, 0.4)) 1;
  border-radius: 8px;
  flex-direction: column;
  gap: 12px;
  padding: 8px 12px;
}

.docked-panel-search2 .frame-626084 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-626121-1 {
  align-items: flex-start;
  gap: 12px;
}

.docked-panel-search2 .service-name-5 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .tags-6 {
  align-items: flex-start;
  background-color: var(--pear);
  border-radius: 12px;
  display: flex;
  gap: 10px;
  padding: 1px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-300 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .risk-factor {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .service-name-6 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .text-301 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .card2-2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.11) 100%);
  height: 213px;
}

.docked-panel-search2 .title-5 {
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .title-6 {
  color: transparent;
  font-family: var(--font-family-dpl-iconfont-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 18px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-303 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .frame-626155 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: -17.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-5 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .text-6 {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: 396px;
}

.docked-panel-search2 .text-7 {
  letter-spacing: 0;
  line-height: 12px;
  margin-top: -2px;
  position: relative;
  width: 396px;
}

.docked-panel-search2 .span-1 {
  line-height: 18px;
}

.docked-panel-search2 .span2 {
  line-height: 20px;
}

.docked-panel-search2 .button-label-5 {
  line-height: 20px;
  text-align: right;
}

.docked-panel-search2 .card2-3 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.11) 100%);
  height: 224px;
}

.docked-panel-search2 .title-7 {
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .title-8 {
  line-height: 18px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .text-305 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .risk-information-row {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.docked-panel-search2 .service-name-7 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-8 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-1 {
  line-height: 18px;
  text-align: right;
}

.docked-panel-search2 .service-name-9 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-10 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-11 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .service-name-12 {
  line-height: 20px;
  margin-top: -1.00px;
}

.docked-panel-search2 .text-8 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: 338px;
}

.docked-panel-search2 .buttons-5 {
  border-radius: 8px;
  justify-content: center;
  z-index: 1;
}

.docked-panel-search2 .button-label-6 {
  line-height: 20px;
  text-align: center;
}

.docked-panel-search2 .text-306 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-16 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 110px;
}

.docked-panel-search2 .start-date-1 {
  width: fit-content;
}

.docked-panel-search2 .tags-19 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .tags-20 {
  align-items: flex-start;
  background-color: var(--jaffa);
  border-radius: 44px;
  display: flex;
  gap: 10px;
  padding: 1px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .risk-level-3-3 {
  line-height: 17px;
}

.docked-panel-search2 .tags-21 {
  align-items: flex-start;
  background-color: var(--trinidad);
  border-radius: 44px;
  display: flex;
  gap: 10px;
  padding: 1px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .high-3 {
  line-height: 17px;
}

.docked-panel-search2 .tags-22 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 44px;
  display: flex;
  gap: 10px;
  padding: 1px 12px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .staged-5 {
  line-height: 17px;
}

.docked-panel-search2 .apr-21-1200-am-apr-22-100-pm {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .release-location {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .americas {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .affected-service {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .retail-outlet {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .description {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 110px;
}

.docked-panel-search2 .upgrade-current-appl {
  height: 59.47px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: 339px;
}

.docked-panel-search2 .frame-62612 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .contact-1 {
  align-items: center;
  border-radius: 70px;
}

.docked-panel-search2 .name-3 {
  line-height: 20px;
}

.docked-panel-search2 .divider-1 {
  height: 1px;
  min-width: 490px;
  position: relative;
}

.docked-panel-search2 .related-change-requests {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 0px 20px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-626122-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 8px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .frame-626121-3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.docked-panel-search2 .text-30 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.0px;
  margin-left: 36px;
  min-width: 10px;
  text-align: right;
  white-space: nowrap;
}

.docked-panel-search2 .frame-626156-1 {
  align-self: stretch;
  height: 25px;
  min-width: 466px;
  position: relative;
}

.docked-panel-search2 .buttons-1 {
  background-color: var(--mercury);
  border-radius: 4px;
  justify-content: center;
  padding: 9px 16px;
}

.docked-panel-search2 .frame-1-11 {
  gap: 8px;
}

.docked-panel-search2 .text-310 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .button-label-7 {
  line-height: 20px;
  text-align: center;
}

.docked-panel-search2 .text-311 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .button-label-8 {
  line-height: 20px;
  text-align: center;
}

.docked-panel-search2 .text-312 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .button-label-9 {
  line-height: 20px;
  text-align: center;
}

.docked-panel-search2 .button-label-10 {
  line-height: 20px;
  text-align: center;
}

.docked-panel-search2 .button-label-11 {
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .buttons-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.docked-panel-search2 .calendar-1 {
  left: 0;
  position: absolute;
  width: 100%;
}

.docked-panel-search2 .card-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.docked-panel-search2 .card2-4 {
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 0px 1px 20px #0000000f;
  display: flex;
  padding: 16px;
  position: relative;
  width: 490px;
}

.docked-panel-search2 .content-3 {
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
}

.docked-panel-search2 .line {
  object-fit: cover;
  position: relative;
}

.docked-panel-search2 .risk-level {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .risk-level-3-4 {
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.docked-panel-search2 .title-9 {
  letter-spacing: 0;
  white-space: nowrap;
}

.docked-panel-search2 .title-and {
  display: flex;
  position: relative;
  width: fit-content;
}
